mixin slider({ val = 30, valEnd = 60, minVal = 0, maxVal = 100, step = 10, range = true, tooltip = true, vertical = false } = {})
	.js-slider.slider(
    data-val= val,
    data-val-end= valEnd,
    data-min-val= minVal,
    data-max-val= maxVal,
    data-step= step,
    data-range= range.toString(),
    data-tooltip= tooltip.toString(),
    data-vertical= vertical.toString()
  )