mixin slider({ value = 4, valStart = 2, valEnd = 8, minVal = 0, maxVal = 10, step = 1, range = true, tooltip = true, vertical = false } = {})
	.js-slider(
            data-val= value,
            data-val-start= valStart,
            data-val-end= valEnd,
            data-min-val= minVal,
            data-max-val= maxVal,
            data-step= step,
            data-range= range.toString(),
            data-tooltip= tooltip.toString(),
            data-vertical= vertical.toString()
          )