mixin slider({ value = 3, valStart = -1, valEnd = 3, minVal = -3, maxVal = 10, step = 2, range = true, tooltip = true, vertical = false } = {})
	.js-slider(
            data-val= value,
            data-val-start= valStart,
            data-val-end= valEnd,
            data-min-val= minVal,
            data-max-val= maxVal,
            data-step= step,
            data-range= range.toString(),
            data-tooltip= tooltip.toString(),
            data-vertical= vertical.toString()
          )